<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CinemaDB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/StyleSheet.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- HEADER -->
<header class="bg-dark text-light text-center py-3">
    <h1>Cinema Database</h1>
</header>

<!-- CONTENT -->
<div class="container content-container my-5">
    <div th:each="anime : ${seasonalAnimeList}" class="row mb-4 row-bordered">
        <!-- Image Column -->
        <div class="col-md-3 cell-image">
            <img th:src="${anime.image_url}" alt="Cinema Image" class="img-fluid">
        </div>
        <!-- Information Column -->
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-12">
                    <h3 th:text="${anime.title}">Title of the Anime</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Genres:</strong> <span th:text="${#strings.arrayJoin(anime.genres, ', ')}">Genres List</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Year:</strong> <span th:text="${anime.year}">Release Year</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Season:</strong>
                        <span th:switch="${anime.season}">
                            <span th:case="1">Winter</span>
                            <span th:case="2">Spring</span>
                            <span th:case="3">Summer</span>
                            <span th:case="4">Fall</span>
                            <span th:case="*" th:text="${'Unknown'}"></span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Start Date:</strong> <span th:text="${anime.start_date}">Start Date</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Studio:</strong> <span th:text="${anime.studio}">Studio Name</span></p>
                </div>
            </div>
        </div>
        <!-- Fourth Column -->
        <!-- center center: "d-flex align-items-center justify-content-center" -->
        <div class="col-md-3 d-flex flex-column justify-content-center">
            <!-- Form for deleting the entry -->
            <form th:action="@{/delete}" method="post" th:attr="data-title=${anime.title}" onsubmit="return confirmDeletion(this)">
                <!-- Hidden input to store anime ID -->
                <input type="hidden" name="animeId" th:value="${anime.id}">
                <!-- Delete button -->
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div id="footer" class="bg-dark text-light text-center py-3 fixed-bottom">
    <p>Cinema Database</p>
    <p>Visit my <a href="https://github.com/c-tapp" target="_blank">Github</a></p>
</div>

<!-- JavaScript Function -->
<script>
    function confirmDeletion(form) {
        var title = form.getAttribute('data-title');
        return confirm('Are you sure you want to delete ' + title + '?');
    }
</script>
</body>
</html>
