<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CinemaDB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/StyleSheet.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- HEADER -->
<header class="bg-dark text-light text-center py-3">
    <h1>Cinema Database</h1>
</header>

<!-- CONTENT -->
<div class="container content-container my-5">
    <div th:each="anime : ${seasonalAnimeList}" class="row mb-4 row-bordered">
        <!-- Information Column -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h3 th:text="${anime.Title}">Title of the Anime</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Genres:</strong> <span th:text="${#strings.arrayJoin(anime.Genres, ', ')}">Genres List</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Year:</strong> <span th:text="${anime.Year}">Release Year</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Season:</strong> <span th:text="${anime.Season}">Season</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Start Date:</strong> <span th:text="${anime.Start Date}">Start Date</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><strong>Studio:</strong> <span th:text="${anime.Studio}">Studio Name</span></p>
                </div>
            </div>
        </div>
        <!-- Fourth Column -->
        <div class="col-md-3">
            <!-- Add interactive elements like buttons if needed -->
            <button class="btn btn-primary">More Info</button>
        </div>
    </div>
</div>


<!-- FOOTER -->
<div id="footer" class="bg-dark text-light text-center py-3 fixed-bottom">
    <p>Cinema Database</p>
    <p>Visit my <a href="https://github.com/c-tapp" target="_blank">Github</a></p>
</div>
</body>
</html>
